
<h3>Cash Withdrawal</h3>

<p>Hi {{user.first_name}},<br/> You can now withdraw your cash with an ATM to withdraw the foreign currency you choose.
    So, how does it work?
    <ul>
    <li>You enter a code that only you will know. (E.g., date of birth)</li>
    <li>You receive Email with additional code from the system.</li>
</ul>
    Once you have reached your chosen ATM, you will be asked to type your two codes. </p>



<form class="exchangeNowForm css-form" name="form" novalidate>
    <div class="form-group amount-field row">
        <label class="col-sm-2 col-form-label" for="amount">How much money would you like to withdraw ?</label>
        <input type="number" class="form-control" required ng-model="session_withdraw.amount" name="amount" id="amount" placeholder="amount" required="true" >
        <br />
        <div ng-show="form.$submitted || form.amount.$touched">
            <span class="form-error" ng-show="form.amount.$error.required">Place amount</span>
            <span class="form-error" ng-show="overload">Amount is higher then your balance {{amount_balance}}</span>
        </div>

        <!--<span class="notice">Total amount : {{balance[session.off_curr - 1].value}} {{balance[session.off_curr - 1].code}}-->
        <!--</span>  max="{{balance[session.off_curr - 1].value}}" -->
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="currency_own">Currency:</label>
        <select class="form-control" id="currency_own" ng-required="true" required name="currency" ng-model="session_withdraw.off_curr" ng-change="updateRate()">
            <option ng-repeat="cur in currency" value="{{cur.id}}" rate="{{cur.rate}}">
                {{cur.code}} {{cur.symbol}}
            </option>
        </select>
        <span class="form-error" ng-show="form.currency.$error.required">Place currency type</span>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="    width: 40%;" for="secret_code">Enter secret code:</label>
        <div style="display: inline-block; float: right;" data-toggle="tooltip" data-placement="top" title="This is the first code you only know. For example, date of birth.">
            <span class="glyphicon glyphicon-info-sign"></span></div>
        <input style="width: 38%;float: right;" type="number" class="form-control secret_field" required required="true" placeholder="Secret Code" name="secret_code" id="secret_code" ng-model="session_withdraw.secret_code" required="true" >

        <div ng-show="form.$submitted || form.amount.$touched">
            <span class="form-error" ng-show="form.secret_code.$error.required">Place your secret code</span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" style=" width: 40%;" for="email_address">Email address:</label>
        <div data-toggle="tooltip" style="float: right; display: inline-block;" data-placement="top" title="Enter your email to send another secret code to complete the action" >
            <span class="glyphicon glyphicon-info-sign"></span></div>
        <input style="    width: 52%;
    float: right;" type="email" class="form-control email-address-field" required placeholder="Email Address" name="email_address" id="email_address" ng-model="session_withdraw.email_address" required="true" >

        <div ng-show="form.$submitted || form.amount.$touched">
        <span class="form-error" ng-show="form.email_address.$error.required">Place Email</span>
        </div>
    </div>

    <div class="form-group row" style="position: relative;">
        <label class="col-sm-2 col-form-label" for="currency_own">Select ATM to withdraw:</label>
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">

            <ui-gmap-markers models="randomMarkers" events="map.events" coords="'self'" icon="'icon'" click="setAtmLocation(atm)">
            </ui-gmap-markers>

            <ui-gmap-window coords="activeModel" options="windowOptions" show="activeModel.show" templateUrl="'infowindow.tpl.html'"
                            templateParameter="activeModel">
            </ui-gmap-window>

        </ui-gmap-google-map>
        <div class="zoom-btn-wrapper">
        <button type="button" ng-click="setZoom(14)" class="btn btn-outline btn-dis">5KM</button>
        <button type="button" ng-click="setZoom(13.5)" class="btn btn-outline btn-dis">10KM</button>
        <button type="button" ng-click="setZoom(13)" class="btn btn-outline btn-dis">20KM</button>

    </div>
    </div>
    <div class="buttons_wrapper">
        <button ng-click="sub()" class="btn btn-primary btn-lg btn-warning">Approve</button>
        <a href="/#/" class="btn btn-secondary btn-lg btn-warning">Cancel</a>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    the transaction completed successfully!
                </h4>
            </div>
            <div class="modal-body">
                <p>You will be sent an Email with the code to be drawn.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<style>

    #main {
        height : 100%;
        display:block;
        overflow-y:auto;
    }

        .btn-outline {
            color: #5bc0de;
            background-image: none;
            background-color: transparent;
            border-color: #5bc0de;
            font-size: 10px;
            padding: 5px 7px;
    }

        .zoom-btn-wrapper{
            display: inline-block;
            /* float: left; */
            position: absolute;
            right: 48px;
            top: 37px;
        }

        .btn-dis {
            display: inline-block;
            background-color: rgba(37, 125, 145, 0.19);
            font-weight: 700;
            margin: 3px;
        }

         img[src="http://www.google.com/intl/en_us/mapfiles/close.gif"] {
             display: none;
         }
    .angular-google-map-container { height: 400px; width: 300px; margin: 10px; padding: 10px; background-color: #4AA02C; }

</style>