
<h1>about</h1>
<div>
    <p>We are committed to making things better! <br/>
        You have reached to the best place to get a fair value for your money.<br/>
        “ The best advances in technology make the world a smaller place and the services provided by Plutu$ will help people all over the world to transfer money cheaply and socially ”<br/>

        We created Plutu$ because we believe that ordinary people, and businesses, should have access to the same great exchange rates for international currency transfers normally reserved only for banks and market professionals dealing in millions.
    </p>
<div>

     <img class="profile_image" ng-src="/images/raz.jpg" />
    <img class="profile_image" ng-src="/images/liron.jpg" />
     <img class="profile_image" ng-src="/images/yaniv.PNG" />
</div>
    <p>
        Founder & CEO of Plutu$
        Student of the Academic College of Tel-Aviv Jaffa
    </p>

</div>

<style>

    .profile_image{
        width: 100px;
        height: 100px;
        border-radius: 75px;
    }

</style>