<h3>Instant Currency Conversion</h3>
<progress-bar stage="1"></progress-bar>
<form>
    <div class="form-group amount-field">
        <label for="amount">How much money would you like to exchange ?</label>
        <input type="number" max="{{balance[session.off_curr - 1].value}}" class="form-control" ng-model="session.amount" id="amount" placeholder="amount" required="true" autofocus="">
        <!--<span class="notice">Total amount : {{balance[session.off_curr - 1].value}} {{balance[session.off_curr - 1].code}}-->
<!--</span>-->
    </div>
    <div class="form-group">
        <label for="currency_own">Select the currency you own:</label>
        <select class="form-control" id="currency_own" ng-model="session.off_curr">
            <option ng-repeat="cur in currency" value="{{cur.id}}">
               {{cur.code}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="currency_to_exchange">Select the currency you want to exchange:</label>
        <select class="form-control" id="currency_to_exchange" ng-model="session.req_curr">
            <option ng-repeat="cur in currency" value="{{cur.id}}">
                {{cur.code}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="currency_rate">What is your wanted rate ?</label>
        <div class="currency_rate_wrapper">
            <div class="dec button">-</div>
            <input id="currency_rate" ng-model="session.rate" type="number" class="form-control">
            <div class="inc button">+</div>
    </div>
    </div>
</form>

<p>Click on 'search' for best matches</p>

<div class="buttons_wrapper">
    <button ng-click="sub()" class="btn btn-primary btn-lg">Search</button>
    <a href="/#/" class="btn btn-secondary btn-lg">Cancel</a>
</div>


<style>

    .button {
        margin: 0 0 0 5px;
        text-indent: -9999px;
        cursor: pointer;
        width: 29px;
        height: 29px;
        display: inline-block;
        text-align: center;
        background: url('/images/buttons.png') no-repeat;
    }
    .dec {
        background-position: 0 -29px;
    }

    .buttons {
        padding: 20px 0 0 140px;
    }


    select,input{
        width: auto !important;
        display: inline-block !important;
    }

    input{
        margin: 5px;
    }

    input#currency_rate{
        width: 30% !important;
    }
    .buttons_wrapper{
        display: -webkit-flex; /* Safari */
        display: flex; flex-basis: 0;
    }

    .buttons_wrapper button { margin: 5px;}
    .buttons_wrapper button:nth-of-type(1) {-webkit-flex-grow: 1; flex-grow: 1; flex-basis: 0;}
    .buttons_wrapper button:nth-of-type(2) {-webkit-flex-grow: 1;flex-grow: 1; flex-basis: 0; }

    /*span.notice{*/
        /*color: gray;*/
        /*font-size: 12px;*/
        /*width: 160px;*/
        /*display: inline-block;*/
        /*float: right;*/
    /*}*/

    .form-group.amount-field input{
        width: 30% !important;
    }


</style>