<h3>Instant Currency Conversion</h3>
<progress-bar stage="1"></progress-bar>
<form class="exchangeNowForm css-form" name="form" novalidate>
    <div class="form-group amount-field row">
        <label class="col-sm-2 col-form-label" for="amount">How much money would you like to exchange ?</label>
        <input type="number" class="form-control" required ng-model="session.amount" name="amount" id="amount" placeholder="amount" required="true" autofocus="">
        <br />
        <div ng-show="form.$submitted || form.amount.$touched">
            <span class="form-error" ng-show="form.amount.$error.required">Place amount</span>
            <span class="form-error" ng-show="overload">Amount is higher then your balance {{amount_balance}}</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="currency_own">Select the currency you own:</label>
        <select class="form-control" id="currency_own" required ng-model="session.off_curr" ng-change="updateRate()">
            <option ng-repeat="cur in currency | filter: { is_tradeable: '1' }" value="{{cur.id}}" rate="{{cur.rate}}">
                {{cur.code}} {{cur.symbol}}
            </option>
        </select>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="currency_to_exchange">Select the currency you want to exchange:</label>
        <select class="form-control" id="currency_to_exchange" required ng-model="session.req_curr" ng-change="updateRate()">
            <option ng-repeat="cur in currency | filter: { is_tradeable: '1' }" value="{{cur.id}}" rate="{{cur.rate}}">
                {{cur.code}} {{cur.symbol}}
            </option>
        </select>
    </div>

    <div class="form-group row ratepicker">
        <label class="col-sm-2 col-form-label" for="currency_rate">What is your wanted rate ?</label>
        <div class="currency_rate_wrapper">
            <div class="dec button"><img width="29" height="29" ng-src="/images/min.png"></div>
            <input name="currency_rate" id="currency_rate" ng-model="session.rate" required disabled="true" type="number" class="form-control">
            <div class="inc button"><img width="29" height="29" ng-src="/images/plus.png"></div>
        </div>
        <span class="form-error" ng-show="rate_is_lower">You cannot offer under formal Exchange rate</span>

    </div>

    <p>Click on 'search' for best matches</p>

    <div class="buttons_wrapper">
        <a href="/#/" class="btn btn-secondary btn-lg btn-warning">Cancel</a>
        <button ng-click="sub()" class="btn btn-primary btn-lg btn-warning">Search</button>
    </div>

</form>

