
<h3>Request to issue a debit card</h3>

<div class="title-header">
    <div>
    <p>Oh no... You can not issue a debit card! <br/><br/>
    </p>
    </div>
    <div>
        <img style="top: 22px;"  width="70" height="70" ng-src="/images/sad.png" alt="logo" />

    </div>
</div>
<p>Do you want to improve your chances of issuing a card?
    <ul>
    <li>You need to make additional conversions</li>
    <li>Check that all the details about you are full</li>
    <li>And more..</li>
    </ul>
</p>

<div class="buttons_wrapper">
    <a href="/#/" class="btn btn-secondary btn-lg">Back to home</a>
</div>





<style>

    .title-header div{
        display: table-cell;
    }
    .title-header{
        display: table;
    }


 </style>
