<p>Hi {{user.first_name}}, {{welcome_text}}</p>
<p>|</p>
<p>|</p>
<p>|</p>
<p>V</p>

<div class="button_info_wrapper">
    <div style="display: inline-block;     position: relative;
    top: -30px;" data-toggle="tooltip" data-placement="top" title="In this process, you can convert your money today!" >
        <span class="glyphicon glyphicon-info-sign"></span>
    </div>
<button type="button" ng-click="exchangenow()" class="btn btn-warning" href="/exchangenow">New Exchange</button>
</div>
<div class="button_info_wrapper">
    <div style="display: inline-block;     position: relative;
    top: -30px;" data-toggle="tooltip" data-placement="top" title="In this process, you can convert your money within a set date range of your choice. Our system will find the match for you." >
        <span class="glyphicon glyphicon-info-sign"></span>
    </div>
<button type="button" ng-click="exchangefuture()" class="btn btn-warning">Future Exchange</button>
</div>

<style>

.button_info_wrapper {
    display: inline-block;
    position: relative;
}

/*.button_info_wrapper div{*/
    /*!*position: absolute;*!*/
    /*!*top:20px;*!*/
    /*bottom: 30px;*/
    /*position: relative;*/
/*}*/


</style>