

select {
    width: auto !important;
}

select,input{
    display: inline-block !important;
}

input{
    margin: 5px;
}

input#end_at{
    width: auto !important;

}


.input-group .end-date-picker, .input-group div{
    display: inline-block;
    margin-right: 0;
    top: -5px;
}

#end-date{
    margin-right: 0;
}

.input-group-btn.datepicker{
    display: inline-block;
}
.input-group-btn.datepicker button{
    padding: 5px 9px;
}

.exchangeNowForm label.col-sm-2.col-form-label {
    width: 65%;
    padding: 0;
}

.ratepicker .button {
    margin: 0 0 0 5px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    border-radius: 30px;
    margin: 5px;
    top: -5px;
    position: relative;
    display: inline-block;
    text-align: center;
}
.ratepicker .button.dec {
    box-shadow: 2px 3px 5px #212121;
}

.ratepicker .button.inc {
    box-shadow: 2px 3px 5px #212121;
}

.ratepicker .buttons {
    padding: 20px 0 0 140px;
    background: url('/images/min.png') no-repeat;

}

.buttons_wrapper{
    display: -webkit-flex; /* Safari */
    display: flex; flex-basis: 0;
}

.buttons_wrapper button { margin: 5px;}
.buttons_wrapper button:nth-of-type(1) {-webkit-flex-grow: 1; flex-grow: 1; flex-basis: 0;}
.buttons_wrapper button:nth-of-type(2) {-webkit-flex-grow: 1;flex-grow: 1; flex-basis: 0; }

.form-error{
    color: red;
    color: #d61111;
    background: rgba(204, 204, 204, 0.51);
    border-radius: 5px;
    padding: 0 2px;
    font-weight: 700;
}

.form-group.secret-field input,
.form-group.phone-num-field input
{
    width: 23% !important;
}



/*exchange now*/
 .currency_rate_wrapper{
     text-align: center;
     margin-bottom: 12px;
 }

.input-group .end-date-picker, .input-group div{
    display: inline-block;
    margin-right: 0;
    top: -5px;
}

#end-date{
    margin-right: 0;
}

.input-group-btn.datepicker{
    display: inline-block;
}
.input-group-btn.datepicker button{
    padding: 5px 9px;
}

.exchangeNowForm label.col-sm-2.col-form-label {
    width: 65%;
    padding: 0;
}


input{
    margin: 5px;
}

input#currency_rate{
    width: 17% !important;
}

.buttons_wrapper{
    display: -webkit-flex; /* Safari */
    display: flex; flex-basis: 0;
}

.buttons_wrapper button { margin: 5px;}
.buttons_wrapper button:nth-of-type(1) {-webkit-flex-grow: 1; flex-grow: 1; flex-basis: 0;}
.buttons_wrapper button:nth-of-type(2) {-webkit-flex-grow: 1;flex-grow: 1; flex-basis: 0; }

/*span.notice{*/
/*color: gray;*/
/*font-size: 12px;*/
/*width: 160px;*/
/*display: inline-block;*/
/*float: right;*/
/*}*/

.form-group.amount-field input{
    width: 23% !important;
    float: right;
    margin-right: 0;
    position: relative;
    top: 5px;
}

.input-group {
    left: 76px;
}

.form-group select{
    float: right;
}


