<div class="profile_header">
    <div> <p>Hi, <br/> {{user.first_name + " " + user.last_name }},</p> </div>
    <div> <img class="profile_image" ng-src="{{ user.profile_picture_url }}" /> </div>
</div>

<p style="text-decoration: underline">Your Account balance is :</p>

<div id="currency_balance_wrapper">
    <div class="currency_balance" ng-repeat="currency in balanace track by $index">
        <img ng-src="{{currency.picture_url}}" alt="Description" />
        <div> {{currency.code}} {{currency.value}}<br/>
        <button type="button" class="btn btn-primary btn-sm bold">Add</button>
        </div>
    </div>
</div>


<div class="buttons_wrapper">
<button type="button" class="btn btn-primary btn-lg">Reedem The Money</button>
<button type="button" class="btn btn-secondary btn-lg">New Exchange</button>
</div>



<style>
    .profile_header{
        display: flex; /* Safari */
        display: flex;
    }

    .profile_header div:nth-of-type(1) {flex-grow: 1;}
    .profile_header div:nth-of-type(2) {flex-grow: 1; text-align: right;}
    #currency_balance_wrapper{
        height: 300px;
    }

    .currency_balance{
        display: flex; /* Safari */
        display: flex;
    }

    .currency_balance img {flex-grow: 1;
        min-width: 50px;
        height: 80px;
        margin: 5px;}
    .currency_balance div {flex-grow: 1; text-align: left;}

    .buttons_wrapper{
        display: flex; /* Safari */
        display: flex;
    }

    .buttons_wrapper button { margin: 5px;}
    .buttons_wrapper button:nth-of-type(1) {flex-grow: 1;}
    .buttons_wrapper button:nth-of-type(2) {flex-grow: 1;}

    .profile_image{
        width: 140px;
        height: 140px;
        background: #e4e4e4;
        margin: 2px;
        padding: 2px;
    }


</style>