<div class="profile_header">
    <div> <img class="profile_image" ng-src="{{ user.profile_picture_url }}" /> </div>
    <div> <p>{{user.first_name + " " + user.last_name }}</p> </div>
</div>

<h3 style="text-decoration: underline"> Your account balance :</h3>

<div id="currency_balance_wrapper">
    <div class="currency_balance" ng-repeat="currency in balance track by $index">
        <div class="img_wrapper"><img ng-src="{{currency.picture_url}}" alt="Description" />
        </div>
        <div> {{currency.code}} {{ parseAmount(currency.value) }}<br/>
        <button ng-click="addToBalance(currency)" type="button" class="btn btn-primary btn-sm bold add-button">Add</button>
        </div>
    </div>
</div>


<div class="buttons_wrapper">
<button type="button" ng-click="changePage('/withdraw')" class="btn btn-primary btn-lg btn-warning">Redeem The Money</button>
</div>



<style>
    .add-button{
        display: inline-block;
        position: relative;
        top: -19px;
        left: 102px;
    }
    .profile_header{
        text-align: center;
    }

    .profile_header div:nth-of-type(1) {flex-grow: 1;}
    .profile_header div:nth-of-type(2) {
        border-radius: 75px;
        overflow: hidden;
        margin: 10px;
    }
    #currency_balance_wrapper{
        margin-bottom: 4px;
    }

    .currency_balance{
        display: flex; /* Safari */
        display: flex;
    }

    .img_wrapper{
        min-width: 40%;
        text-align: center;
    }
    .currency_balance img {
        height: 40px;
        margin: 5px;}

    .buttons_wrapper{
        display: flex; /* Safari */
        display: flex;
    }

    .buttons_wrapper button { margin: 5px;}
    .buttons_wrapper button:nth-of-type(1) {flex-grow: 1; background: #76D0C4;     border-color: #c3c3c3;}

    .profile_image{
        width: 110px;
        height: 110px;
        border-radius: 75px;
    }



</style>