<h3>Adding money to your account</h3>

<progress-bar-balance stage="2"></progress-bar-balance>

<p>Please confirm your information</p>
<span class="payment_header">Payment methods</span>

<div class="credit_fields">
    <div class="visa_pic"></div>
    <input type="password" class="form-control" ng-model="user.credit_card" placeholder="Credit Card Number" required="true" disabled="disabled" autofocus="">
</div>

<p>
    Amount of money to add : {{session_balance.amount}} {{session_balance.curr.symbol}}
</p>

<p class="pnote">
    Note : Once you click Confirm, you will not be able to change the details.
</p>

<div class="buttons_wrapper">
    <a href="/#/addToBalance" class="btn btn-secondary btn-lg btn-warning">Back</a>

    <button ng-click="sub()" class="btn btn-primary btn-lg btn-warning">Confirm</button>
</div>


<style>

    .visa_pic{
        background: #5e5e86;
        height: 10px;
        width: 10px;
        display: inline-block;
    }

    .dec {
        background-position: 0 -29px;
    }

    .buttons {
        padding: 20px 0 0 140px;
    }


    select,input{
        width: auto !important;
        display: inline-block !important;
    }

    input{
        margin: 5px;
    }

    input#currency_rate{
        width: 30% !important;
    }
    .buttons_wrapper{
        display: -webkit-flex; /* Safari */
        display: flex; flex-basis: 0;
    }

    .buttons_wrapper button { margin: 5px;}
    .buttons_wrapper button:nth-of-type(1) {-webkit-flex-grow: 1; flex-grow: 1; flex-basis: 0;}
    .buttons_wrapper button:nth-of-type(2) {-webkit-flex-grow: 1;flex-grow: 1; flex-basis: 0; }

    .money-present-box {
        width: 45%;
        display: inline-block;
        background: #dadada;
        padding: 8px;
        overflow: hidden;
    }

    .sort-option {
        display: inline-block;
        font-size: 12px;
        background: gainsboro;
        border-radius: 10px;
        padding: 1px;
    }

    .potential_transaction {
        overflow: hidden;
        background: #efe9e9;
        padding: 5px;
        margin: 3px;
        border-radius: 3px;
        position: relative;
    }

    .potential_transaction div{
        display: inline-block;
    }
    .potential_transaction img{
        width: 70px;
        display: inline-block;
    }

    .potential_transaction_user {
        vertical-align: top;
    }

    .potential_transaction_offer {
        width: 60%;
        /* float: right; */
        position: absolute;
        top: 26px;
        left: 80px;
    }

    p span{
        white-space: nowrap;
    }

    .selected{
        background-color: #ccb7b7;
    }

</style>