<h3>Future Currency Conversion</h3>
<progress-bar stage="1"></progress-bar>
<form class="exchangeNowForm">
    <div class="form-group amount-field row">
        <label class="col-sm-2 col-form-label" for="amount">How much money would you like to exchange ?</label>
        <input type="number" class="form-control" ng-model="session.amount" id="amount" placeholder="amount" required="true" autofocus="">
        <!--<span class="notice">Total amount : {{balance[session.off_curr - 1].value}} {{balance[session.off_curr - 1].code}}-->
<!--</span>  max="{{balance[session.off_curr - 1].value}}" -->
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="currency_own">Select the currency you own:</label>
        <select class="form-control" id="currency_own" ng-model="session.off_curr" ng-change="updateRate()">
            <option ng-repeat="cur in currency" value="{{cur.id}}" rate="{{cur.rate}}">
               {{cur.code}} {{cur.symbol}}
            </option>
        </select>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="currency_to_exchange">Select the currency you want to exchange:</label>
        <select class="form-control" id="currency_to_exchange" ng-model="session.req_curr" ng-change="updateRate()">
            <option ng-repeat="cur in currency" value="{{cur.id}}" rate="{{cur.rate}}">
                {{cur.code}} {{cur.symbol}}
            </option>
        </select>
    </div>

    <div class="form-group row ratepicker">
        <label class="col-sm-2 col-form-label"  for="currency_rate">What is your wanted rate ?</label>
        <div class="currency_rate_wrapper">
            <div class="dec button">-</div>
            <input id="currency_rate" ng-model="session.rate" disabled="true" type="number" class="form-control">
            <div class="inc button">+</div>
        </div>
    </div>

    <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="end_date">Set end date to exchange :</label>

            <p class="input-group">
                <input type="text" class="form-control end-date-picker" id="end_date" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened"
                       datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn datepicker">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>


</form>

<p>Click on 'search' for best matches</p>

<div class="buttons_wrapper">
    <button ng-click="sub()" class="btn btn-primary btn-lg">Confirm</button>
    <a href="/#/" class="btn btn-secondary btn-lg">Cancel</a>
</div>




<!--Source currency: (The source currency)-->
<!--Target currency: (The target currency)-->
<!--Exchange rate: (the exchange rate)-->
<!--Amount of money after conversion: (The calculated amount)+-->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Your request has been saved successfully!
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    The system is now looking for the best match for you, based on the data you entered earlier.
                    Once it finds a match for you, your credit card will be charged for your money amount and will send you an email with full transaction details.
                    <br/>
                    Your transaction details:<br/>

                    Amount of money for conversion: {{transfer.currency_offer_amount}} {{transfer.off_code}}<br/>
                    Source currency: {{transfer.off_code}}<br/>
                    Target currency: {{transfer.req_code}}<br/>
                    Exchange rate: {{transfer.currency_offer_amount / transfer.currency_requested_amount}}<br/>
                    Amount of money after conversion: {{transfer.currency_requested_amount}} {{transfer.req_code}}<br/>
                </p>
            </div>
            <div class="modal-footer">
                <p style="text-align: left; margin-bottom: 0">You can redeem the money at any time in My Profile by clicking "Realize Money".
                    For your convenience, you can click here and transfer immediately to redeem the money.</p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>